@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202020;
  --foreground: #ededed;
}

body {
  color: #ededed;
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}
